# ============================================================
# LUMOS NETWORKS - REQUIREMENTS (EvoMol-Lab)
# ============================================================

# Essenciais para a Interface e Deploy
streamlit

# Manipulação de Dados e Estatística
polars
numpy
pandas
scipy
statsmodels
scikit-learn

# Bioinformática e Sistemas (Motores de Análise)
pydeseq2
gseapy
biopython
networkx

# Visualização Interativa
plotly
kaleido
streamlit-agraph

# Exportação de Relatórios e PDF
fpdf2

# Utilidades e Comunicação de API
requests
