streamlit>=1.32.0
pandas>=1.5.3
polars>=0.20.0
numpy<2.0.0
scipy
plotly
kaleido==0.1.0post1
pydeseq2==0.4.4
gseapy>=1.0.4
biopython
networkx
statsmodels
scikit-learn
streamlit-agraph==0.0.45
fpdf2
requests
